.Owner {
    font-weight: 500;
    color: #331D01;
    margin-right: 8px;
}

.Date {
    color: #bdb9b3;
}

.ThumbsUp {
    color: #f85032;
    font-size: 20px;
}

.ThumbsUp:hover {
    color: #2142b2;
}

.ThumbsUpOutline:hover {
    color: #f85032;
}